@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(100vh) scale(0.8);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) scale(1.1);
    opacity: 0;
  }
}

.animate-float {
  animation: float 10s linear infinite;
}
